/* You can add global styles to this file, and also import other style files */
:root{
    --T-Darkmaroon:#643843;
    --T-Semidarkmaroon:#99627A;
    --T-maroon:#C88EA7;
    --T-Lightmaroon:#E7CBCB;
}