main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    align-items: center;
}
.task{
    display: flex;
    align-items: center;
}
.btn1-ds{
    margin-left: 675px;
}
.box-1{
    display: flex;
    align-items: center;
    height: 80px;
    width: 900px;
    border-radius: 7px;
    border-style:groove;
    margin-bottom: 50px;
    box-shadow: 10px 10px rgba(135, 134, 134, 0.256);
}
.box-2{
    display: flex;
    align-items: center;
    height: 60px;
    width: 900px;
    border-radius: 7px;
    border-style:groove;
    margin-bottom: 7px;
}
.textarea-ds{
    height: 100px;
    width: 400px;
    border-style: none;
}